<%- include("partials/header.ejs") %>

<form action="/status" method="POST" class="d-flex gap-2">
  <input type="text" name="plateNo" class="form-control" placeholder="Enter License Plate" required>
  <button class="btn btn-primary">Check Status</button>
</form>

<%- include("partials/footer.ejs") %>
