<%- include("partials/header.ejs")%>
  <!-- Hero Section-->
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6"> <img src="images/heroImage.jpg" class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes" width="300" height="300" loading="lazy"> </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">VehicleBay</h1>
      <p class="lead">This is a Student developed project made for understanding and practicing DBMS in the website</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start"> 
        <a href="/book" class="btn btn-primary">Book a service</a>
        <a href="/search" class="btn btn-outline-primary">Check Status</a>
      </div>
  </div>


  <!-- Features Section -->
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center 
      text-bg-primary bg-gradient rounded-3 p-3 mb-3" style="width: 3rem; height: 3rem;">
        <i class="bi bi-car-front-fill fs-5"></i>
      </div>
      <h3 class="fs-2 text-body-emphasis">Easy Service <br>Booking</h3>
      <p>Quickly book vehicle service online</p> 
      <a href="/book" class="primary">Book a service <i class="bi bi-arrow-right-short"></i></a>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center 
      text-bg-primary bg-gradient rounded-3 p-3 mb-3" style="width: 3rem; height: 3rem;">
        <i class="bi bi-calendar-check fs-5"></i>
      </div>
      <h3 class="fs-2 text-body-emphasis">Smart Scheduling</h3>
      <p>Select preferred date and time <br>for service appointments.</p>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center 
      text-bg-primary bg-gradient rounded-3 p-3 mb-3" style="width: 3rem; height: 3rem;">
        <i class="bi bi-clock-history fs-5"></i>
      </div>
      <h3 class="fs-2 text-body-emphasis">Real-Time Status Tracking</h3>
      <p>Track service progress <br/>Pending → In Progress → Completed.</p> 
      <a href="/search" class="primary">Check Status<i class="bi bi-arrow-right-short"></i></a>
    </div>
  </div>
<%- include("partials/footer.ejs")%>